.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px;
}

.userName {
  font-size: 32px;
  font-weight: 700;
  color: #0e141b;
  padding: 15px 0;
}

.tag,
.location {
  font-size: 20px;
  font-weight: 500;
  color: #88919c;
  padding: 10px 0;
}

.stats {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
